<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas</title>
    <link rel="stylesheet" href="/stylesheet/styles.css">
</head>
<body>
    <div class="div-complete-pages">
        <header>
            <nav class="nav">
                <ul>
                    <li>
                        <a href="/"><img class="img-nav" src="http://assets.stickpng.com/images/5b06c18efad1cae04539afdf.png" alt=""></a>
                    </li>
                    <li>
                        <a href=""></a>

                    </li>
                </ul>
            </nav>
        </header>
    </div>
    
</body>
</html>